<div class="container-fluid">
    <app-header></app-header>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
                <div class="card " style="width:600px">
                <div class="card-header">
                    <h5> {{empData.name}} </h5>
                </div>
                <div class="card-body bg-info">
                    <h6> {{empData.phoneno}} </h6>
                    <h6> {{empData.country.cname}} </h6>
                </div>

                <div class="card-footer bg-secondary">
                    <button routerLink="" class="btn btn-warning">Home</button>

                </div>

                </div>

        </div>
    </div>
</div>