<p>inbuiltpipe works!</p>
<!-- syntax
    {{propertyName | pipename }}
-->

<!-- <h2> {{strdata}} </h2> -->

<!-- <h2> {{strdata | lowercase }} </h2>
<h2> {{strdata | uppercase }} </h2>
<h2> {{strdata | titlecase }} </h2> -->

<!-- <h2> {{0.25 | percent}} </h2>
<h2> {{0.025 | percent: '1.1'}} </h2>
<h2> {{0.09123 | percent:'2.2'}} </h2> -->

 <!-- <h2> {{0.25 | currency}} </h2>  
  <h2> {{25 | currency : 'INR'}} </h2> 
 <h2>{{25 | currency :'INR ':'code'}} </h2>
 <h2> {{25 | currency : 'GBP'}} </h2>  -->

 <!-- <h2> {{mydate}} </h2>
 <h2> {{mydate |date }} </h2>

 <h2> {{mydate |date:'dd-MM-yyyy' }} </h2>
 <h2> {{mydate |date:'dd/MM/yyyy' }} </h2>
 <h2> {{mydate |date:'shortDate' }} </h2>
 <h2> {{mydate |date:'longDate' }} </h2>
 <h2> {{mydate |date:'mediumDate' }} </h2> -->

<!-- 
<h2>  {{5.6743462 | number : '1.2-3'}} </h2> 
 
       <h2>  {{5.678456 | number : '1.2-3' }} </h2>
           
  <h2>  {{5.678556 | number : '2.2-3' }} </h2>
                    
  <h2>  {{5.6 | number : '2.2-3' }} </h2>
  
    <h2>  {{5.678556 | number:'2.4-6'}} </h2> 
    <h2>  {{65.6780639 | number : '1.2-3' }} </h2>65.678 -->


    <!-- chaining of pipe   -->
 
   <!-- <h2> {{mydate | date:'longDate' | uppercase  }} </h2> -->








