
<h2>My First Angular Application</h2>

<!-- <app-employee></app-employee> -->
<!-- <app-stringinterpolation></app-stringinterpolation> -->
<!-- <app-propertybinding></app-propertybinding> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-classbinding></app-classbinding> -->
<!-- <app-eventbinding1></app-eventbinding1> -->
<!-- <app-eventbinding2></app-eventbinding2> -->
<!-- <app-eventbinding3></app-eventbinding3> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-switchdirective></app-switchdirective> -->
<!-- <app-parent1></app-parent1> -->
<!-- <app-parent2></app-parent2> -->
<!-- <app-inbuiltpipe></app-inbuiltpipe> -->
<!-- <app-custompipe></app-custompipe> -->
<app-courses></app-courses>
